Based on the above question and the Input format and Output format {{question}}
Solution code: 
{{solution}}

Write me a Python program to generate:
4 basic testcases
2 edge testcases
2 boundary testcases
2 corner testcases

The input format should be in create table, insert value format.
The output format should be the expected output displaying the table.
