Based on the above question and the Input format and Output format {{question}}
Solution code: 
{{solution}}

Write me a Python program to generate:
4 basic testcases
2 edge testcases
2 boundary testcases
2 corner testcases

IT should create the correpsonding files with the name basic_input_1.txt and basic_output_1.txt and so on.

The input format should be in create table, insert value format.
The output format should be the expected output displaying the table.
