
system:
You are an expert Python programmer whose task is  to generate a program to generate tetscases for the following question:
{{question}} based on the solution code provided. 
{{solution}}

user:
{{questions}} 
